/test.oxps
/test1.pdf
/844_download.pdf
/qdp_output.xlsx
/output/
/844.pdf
/844 high tmc.pdf
/844 quarter.pdf
/844_download.pdf
/March 2023.pdf
/printed as generic text from W11/
/printed as oXPS from W11/
/test pdf files/
/input files/
/20240711 version/
/20240615_prior_to_1990_date_detection/
/20240111 version/
/quantum_extraction_cfg-GJNHPEnvy.py
/old_versions/backup_20250321/DE 844 Quantum TOD reset to Epoch tracking log.txt
/old_versions/backup.20250225/quantum_extraction_cfg.py
/old_versions/backup.202050213/quantum_extraction_cfg.py
/old_versions/backup_20250306/quantum_extraction_cfg.py
/old_versions/backup_20250321/quantum_extraction_cfg.py
/old_versions/quantum_extraction_cfg 20250720.py
/old_versions/quantum_extraction_cfg 20250723.py
/old_versions/backup.202050213/quantum_extraction_cfg-GJNHPEnvy.py
/old_versions/quantum_extraction_cfg-GJNHPEnvy.py
/old_versions/20240111 version/quantum_pdf_extraction.py
/old_versions/20240615_prior_to_1990_date_detection/quantum_pdf_extraction.py
/old_versions/20240711 version/quantum_pdf_extraction.py
/old_versions/quantum_pdf_extraction.py.no_longer_in_use.py
/old_versions/20240111 version/quantum_pdf_extraction_cfg.py
/old_versions/20240615_prior_to_1990_date_detection/quantum_pdf_extraction_cfg.py
/old_versions/20240711 version/quantum_pdf_extraction_cfg.py
/old_versions/20240615_prior_to_1990_date_detection/quantum_pdf_extraction_pdfreader version.py
/old_versions/quantum_pdf_extraction_pdfreader version.py
/old_versions/backup.20250225/quantum_txt_extraction.py
/old_versions/backup.202050213/quantum_txt_extraction.py
/old_versions/backup_20250306/quantum_txt_extraction.py
/old_versions/backup_20250321/quantum_txt_extraction.py
/old_versions/quantum_txt_extraction 20240719.py
/old_versions/quantum_txt_extraction 20250720.py
/old_versions/quantum_txt_extraction 20250720 copy.py
/old_versions/quantum_txt_extraction 20250723.py
/old_versions/quantum_txt_extraction 20250726.py
/old_versions/backup_20250306/quantum_txt_extraction_prior_to_in_flight_analysis.py
/old_versions/backup_20250306/quantum_txt_extraction_with_in_flight_analysis.py
/old_versions/backup.202050213/reader_test.py
/old_versions/backup_20250321/reader_test.py
/old_versions/20240615_prior_to_1990_date_detection/requirements.txt
/old_versions/backup.20250225/requirements.txt
/old_versions/backup.202050213/requirements.txt
/old_versions/backup_20250321/requirements.txt
/.idea/workspace-GJNHPEnvy.xml
/old_versions/
